<%- include("partials/header"); -%>
<script>
    jQuery(window).on('load', function () {
    setCookie('<%=key%>');
    });
</script>
<center>
<div class="saved">
<h1>ProgPage is saved.</h1>
</div>
</center>
<div class="row justify-content-center">
    
    <div class="col col-auto">
        <center>
            <br>
        <label for="key">Your key is:</label><br>
                <input class="form-control edit" type="text" form="form" name="key" id="key" value="<%=key%>" required
                    placeholder="Enter Your key"><br><br>
          </center>
    </div>

</div>

<div class="row">
    <div class="col-lg-6 form-group">
        
            
               <div class="reqF">
                <center>
                    
                    <label id="reqL" for="reqF"></label><br>
                    <input class="form-control edit" type="text" name="reqF" id="reqF" onkeydown="add(event.key);" required> <button onclick="addTasks();" class="btn btn-dark btn-lg addbtn">+</button>
                </center>
               </div>
               



            <div class="optionDiv">
                <center>
                 <label id="optionL" for="optionList"></label><br>
                 <select onchange="addTasks();" class="form-control" id="optionList">
                    <option></option>
                 </select>


                </center>
            </div>



        <center>
                <label for="tasks">To add task, click on it.</label>
                <select onchange="addTasks();" class="form-control" id="tasks" size='10'>
                    <option>show currency rates</option>
                    <option>weather in certain city</option>
                    <option>news in certain country</option>
                    <option>set background image</option>
                    <option>Astronomy Picture of the Day on background</option>
                    <option>show message</option>
                    <option>delay</option>
                    <option>remove background image</option>
                    <option>clear the page</option>
                    <option>redirect</option>
                </select>

            
        </center>
    </div>
    <div class="col-lg-6 form-group">
        <center>
            <form action="/save" method="POST" id="form">
                
                <label for="taskList">Selected tasks for Your progPage:</label>
                <textarea class="form-control" id="taskList" name="taskList" rows="7" required
                    placeholder="Select tasks above to add."></textarea>
                <button type="submit" id="save" class="btn btn-dark btn-lg">Save</button>

            </form>
        </center>
    </div>
</div>

<script>
    readTasks(<%-JSON.stringify(taskList)%>);
    if (<%=saved%>){
        if (<%=saved%> == true) {
            jQuery(".saved").slideDown(1500).slideUp(1500);

            
        }
    }
</script>

<%- include("partials/footer"); -%>
