<%- include("partials/header"); -%>
<script>
    setCookie('<%=key%>');
</script>
<center>
<div class="saved">
<h1>ProgPage is saved.</h1>
</div>
</center>
<div class="row justify-content-center">
    
    <div class="col col-auto">
        <center>
            <br>
        <label for="key">Your key is:</label><br>
                <input class="form-control edit" type="text" form="form" name="key" id="key" value="<%=key%>" required
                    placeholder="Enter Your key"><br><br>
          </center>
    </div>

</div>

<div class="row">
    <div class="col-lg-6 form-group">
        
            
               <div class="reqF">
                <center>
                    
                    <label id="reqL" for="reqF"></label><br>
                    <input class="form-control edit" type="text" name="reqF" id="reqF" onkeydown="add(event.key);" required> <button onclick="addTasks();" class="btn btn-dark btn-lg addbtn">+</button>
                </center>
               </div>
               <div class="country">
                   <center>
                    <label id="countryL" for="countryList">Select the country</label><br>
                    <select onchange="addTasks();" class="form-control" multiple id="countryList" size='54'>
                        <option>ae</option>
                        <option>ar</option>
                        <option>at</option>
                        <option>au</option>
                        <option>be</option>
                        <option>bg</option>
                        <option>br</option>
                        <option>ca</option>
                        <option>ch</option>
                        <option>cn</option>
                        <option>co</option>
                        <option>cu</option>
                        <option>cz</option>
                        <option>de</option>
                        <option>eg</option>
                        <option>fr</option>
                        <option>gb</option>
                        <option>gr</option>
                        <option>hk</option>
                        <option>hu</option>
                        <option>id</option>
                        <option>ie</option>
                        <option>il</option>
                        <option>in</option>
                        <option>it</option>
                        <option>jp</option>
                        <option>kr</option>
                        <option>lt</option>
                        <option>lv</option>
                        <option>ma</option>
                        <option>mx</option>
                        <option>my</option>
                        <option>ng</option>
                        <option>nl</option>
                        <option>no</option>
                        <option>nz</option>
                        <option>ph</option>
                        <option>pl</option>
                        <option>pt</option>
                        <option>ro</option>
                        <option>rs</option>
                        <option>ru</option>
                        <option>sa</option>
                        <option>se</option>
                        <option>sg</option>
                        <option>si</option>
                        <option>sk</option>
                        <option>th</option>
                        <option>tr</option>
                        <option>tw</option>
                        <option>ua</option>
                        <option>us</option>
                        <option>ve</option>
                        <option>za</option>
                    </select>


                   </center>
               </div>
        <center>
                <label for="tasks">To add task, click on it.</label>
                <select onchange="addTasks();" class="form-control" multiple id="tasks" size='6'>
                    <option>redirect</option>
                    <option>show message</option>
                    <option>delay</option>
                    <option>set background image</option>
                    <option>weather in certain city</option>
                    <option>news in certain country</option>
                    <option>remove background image</option>
                </select>

            
        </center>
    </div>
    <div class="col-lg-6 form-group">
        <center>
            <form action="/save" method="POST" id="form">
                
                <label for="taskList">Selected tasks for Your progPage:</label>
                <textarea class="form-control" id="taskList" name="taskList" rows="7" required
                    placeholder="Select tasks above to add."></textarea>
                <button type="submit" id="save" class="btn btn-dark btn-lg">Save</button>

            </form>
        </center>
    </div>
</div>

<script>
    readTasks(<%-JSON.stringify(taskList)%>);
    if (<%=saved%>){
        if (<%=saved%> == true) {
            jQuery(".saved").slideDown(3000).slideUp(3000);

            
        }
    }
</script>

<%- include("partials/footer"); -%>
